[Unit]
Description=postgrest backend %i
After=syslog.target

[Service]
User=postgrest
ExecStart=/usr/local/bin/postgrest /etc/postgrest/postgrest_%i.conf
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
