[Unit]
Description=Budibase service with docker compose
Requires=docker.service
Wants=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/budibase
ExecStartPre=-/usr/bin/docker compose down -v
ExecStart=/usr/bin/docker compose up --remove-orphans
ExecStop=/usr/bin/docker compose down -v
User=budibase
Restart=always
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
